<ion-content>
    <div class="menu splash-bg flex-box">
        <div class="container-fluid">
            <img class="img-fluid" style="width: 100%;" src="../../../assets/img/splach/COSAP.png">
            <p class="pargraphe">
                Fluidifiez et Gérez les activités et les échanges au sein de votre organisme ou entreprise
            </p>
        </div>
        <ion-buttons style="justify-content: center;">
            <button type="button" class="start" data-toggle="button" aria-pressed="false" autocomplete="off" routerDirection="forward" [routerLink]="'/login'">
      <p style="text-align: center;color: #0b1b68;padding-left: 7px;padding-top: 13px;font-family: Roboto Condensed;font-size: 126%;font-weight: 700;">Let's Get Stared
        <img style="width: 21px;"  src="../../../assets/icon/login/btn.png" >
      </p>
            </button>

        </ion-buttons>
    </div>
</ion-content>