<ion-header fixed>
    <ion-toolbar color="primary" style="padding-top: 32px;">
        <ion-title style="color:white ;position: absolute;">Actions</ion-title>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="icons" src="../../../assets/icon/presence/supervivsion.png">
                </div>
                <div class="col">
                    <img class="icons" src="../../../assets/icon/presence/search.png">
                </div>
                <div class="col">
                    <img class="icons" src="../../../assets/icon/presence/exit.png">
                </div>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100px; width: 100%; margin-bottom: -8px;margin-right: 0px;">
            <div class="container-fluid content">
                <div class="card">
                    <div class="card-body" style="padding:20px;">
                        <div class="d-flex  w-100 align-items-center text-left">
                            <div class="col">
                                <label style="font-weight: 700;font-size: 18px;z-index: 3;color: #686868;font-family: Roboto Condensed;">Ref Action 1</label>
                                <div class="container">
                                    <div class="row" style=" margin-right: -39px;height: 45px;">
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" src="../../../assets/icon/action/info.png">
                                            </div>
                                        </div>
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" style="background-color: #f35c1b;" src="../../../assets/icon/action/commercial.png">
                                            </div>
                                        </div>
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" style="background-color: #949ede;" src="../../../assets/icon/action/add.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 100px; width: 100%; margin-bottom: -8px;margin-right: 0px;">
            <div class="container-fluid content">
                <div class="card">
                    <div class="card-body" style="padding:20px;">
                        <div class="d-flex  w-100 align-items-center text-left">
                            <div class="col">
                                <label style="font-weight: 700;font-size: 18px;z-index: 3;color: #686868;font-family: Roboto Condensed;">Ref Action 1</label>
                                <div class="container">
                                    <div class="row" style=" margin-right: -39px;height: 45px;">
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" src="../../../assets/icon/action/info.png">
                                            </div>
                                        </div>
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" style="background-color: #f35c1b;" src="../../../assets/icon/action/commercial.png">
                                            </div>
                                        </div>
                                        <div class="col" style="padding-left: 0px;">
                                            <div class="content-profile">
                                                <img class="statut" style="background-color: #949ede;" src="../../../assets/icon/action/add.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer no-padding no-marging>
    <!-------tabss--------->
    <ion-segment no-padding no-marging style="font-size: 10px;" [(ngModel)]="segment">
        <ion-segment-button style="min-width: 60px;" value="Home" checked routerDirection="forward" [routerLink]="'/dashboard'">
            <img style=" width: 26px;" src="../../../assets/icon/dashboard/home.png">
            <ion-label>Home</ion-label>
        </ion-segment-button>

        <ion-segment-button style="min-width: 60px;" value="Actions" routerDirection="forward" [routerLink]="'/action'">
            <img style=" width: 26px;" src="../../../assets/icon/dashboard/action.png">
            <ion-label>Actions</ion-label>
        </ion-segment-button>

        <ion-segment-button style="min-width: 60px;" value="Congé" routerDirection="forward" [routerLink]="'/demande'">
            <img style=" width: 26px;" src="../../../assets/icon/dashboard/conge.png">
            <ion-label>Congé</ion-label>
        </ion-segment-button>

        <ion-segment-button style="min-width: 60px;" value="Profile" routerDirection="forward" [routerLink]="'/profil'">
            <img style=" width: 26px;" src="../../../assets/icon/dashboard/profil.png">
            <ion-label>Profile</ion-label>
        </ion-segment-button>
    </ion-segment>
    <!-------tabss--------->
</ion-footer>